.deleteBtn {
  padding: 5px 0;
  margin: 0;
  text-align: center;
  width: 30px;
  background-color: #8b0000;
  float: right;
  color: #fff;
  border: 0;
}

.deleteBtn:hover {
  background-color: #c50404
}