.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 16px;
  min-width: 400px;
  max-width: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.list thead tr {
  background-color: #72bc8e;
  color: #ffffff;
  text-align: left;
}

.list th,
.list td {
  padding: 12px 15px;
  cursor: pointer;
  text-align: center;
}

.list tbody tr {
  border-bottom: 1px solid #dddddd;
}

.list tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.list tbody tr:last-of-type {
  border-bottom: 2px solid #72bc8e88;
}

.list tbody tr.active-row {
  font-weight: bold;
  color: #72bc8e;
}

.container td {
  vertical-align: middle;
}

.list th {
  cursor: auto;
}

.list tbody tr:hover {
  background-color: #72bc8e22;
}

.list tbody tr:hover .deleteBtn img {
  width: 100%;
}

.list tbody tr:hover .deleteBtn {
  opacity: 100%;
}

.addBtn {
  box-sizing: border-box;
  width: 20%;
  min-width: 100px;
  max-width: 400px;
  padding: 15px;
  background: #72bc8e;
  border-bottom: 2px solid #30c29e;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
}

.addBtn:hover {
  background: #4bce7d;
}

.addBtn,
.container input[type='submit'] {
  max-width: 100%;
  cursor: pointer;
}

td:last-child {
  background: linear-gradient(90deg, #72bc8e00 0%, #72bc8eaa 100%);
  padding: 0;
  height: fit-content;
  opacity: 0;
  transition: opacity 250ms linear;
}

.list tbody tr:hover td:last-child img {
  width: 100%;
}

.list tbody tr:hover td:last-child {
  opacity: 100%;
}
