.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 16px;
  min-width: 400px;
  max-width: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.list tbody tr:hover td:last-child img {
  width: 100%;
}

.list tbody tr:hover td:last-child {
  opacity: unset;
}

.addBtn {
  box-sizing: border-box;
  width: 20%;
  min-width: 100px;
  max-width: 400px;
  padding: 15px;
  background: #72bc8e;
  border-bottom: 2px solid #30c29e;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
}

.addBtn:hover {
  background: #4bce7d;
}

.addBtn {
  max-width: 100%;
  cursor: pointer;
}

.nothingHere {
  padding-block: 20px;
  text-align: center;
}
