* {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  min-width: 700px;
  max-width: 800px;
  background-color: #f7f7f7;
  justify-content: space-around;
  align-items: center;
}

.form h2 {
  background: #27ae60;
  color: white;
  width: 100%;
  padding: 10px 0 10px 0;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.button,
.container input[type='submit'] {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding: 15px;
  background: #27ae60;
  border-bottom: none;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
}

.button:hover,
.container input[type='submit']:hover {
  background: #2ebc99;
}

.button:disabled,
.container input[type='submit']:disabled {
  background: #555;
  border-bottom: 2px solid #555;
  cursor: not-allowed;
}
