.container {
  flex: 1;
  width: 50%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type='submit'] {
  margin-top: 2rem;
  box-sizing: border-box;
  width: 20%;
  min-width: 100px;
  max-width: 300px;
  padding: 15px;
  background: #72bc8e;
  border-bottom: 2px solid #30c29e;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

input[type='submit']:hover {
  background: #4bce7d;
}

.spinnerContainer {
  position: absolute;
}
