.container {
  display: flex;
  justify-content: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr {
  margin: 3px 0px;
}

.createBtnSection {
  display: flex;
  justify-content: center;
}