.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 16px;
  min-width: 400px;
  max-width: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.list th,
.list td {
	padding: 12px 15px;
	cursor: pointer;
	text-align: center;
}

.list tbody tr {
  border-bottom: 1px solid #dddddd;
}


a {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  outline: none;
  color:black;
}

.button{
	box-sizing: border-box;
	width: 100%;
	max-width: 400px;
	padding: 15px;
	background: #27AE60;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
}

.button:hover {
	background: #2EBC99;
}

.button:disabled {
	background: #555;
	border-bottom: 2px solid #555;
	cursor: not-allowed;
}
