.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.content button {
  background-color: #72bc8e;
  padding: 10px 15px;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.content button:hover {
  background-color: #86d6a5;
  cursor: pointer;
}

.content .createButton {
  margin-bottom: 25px;
}

.content table td {
  cursor: pointer;
}

.content table tr:hover {
  background-color: #eaeaea;
}

.nothingHere {
  padding-block: 20px;
  text-align: center;
}