.container {
  max-width: 400px;
  margin: 10px auto;
  padding: 16px;
  background: #f7f7f7;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

h4 {
  color: red;
}

.spinnerContainer {
  position: absolute;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}
