.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background-color: white;
  border-radius: 5px;
  position: absolute;
  margin: 0 auto;
  display: block;
  width: 90%;
  /* Change the max-width value on a media query breakpoint to make this example more "responsive" */ 
  max-width: 800px;
  height: 90%;
  overflow-y: initial !important
}

.title{
  background-color: #27ae60;
  border-radius: 5px 5px 0px 0px;
}

.title h2 {
  font-size: 20px;
  padding-top: 20px;
  justify-content: center;
  color: white;
}

.modalBody {
  height: 80vh;
  overflow-y: auto;
}


.modalBody::-webkit-scrollbar {
  width: 15px;
}

.modalBody::-webkit-scrollbar-thumb {
  background-color: #72bc8e;
  border-radius: 0px 0px 5px 5px;
  margin: 10px;
}

.modal button:disabled {
	background: #555;
	cursor: not-allowed;
}

.modal button {
  display:inline-block;
  justify-content: center;
  box-sizing: border-box;
	width: 40%;
	max-width: 580px;
	padding: 15px;
  margin: 80px 30px;
	border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
  text-align: center;
}

.subtitle {
  display: flex;
  color: white;
  justify-content: center;
}

.confirmBtnModal{
  background: #72bc8e;
}

.confirmBtnModal:hover {
	background: #86d6a5;
}

.cancelBtnModal{
  background: #646464  !important;
}

.cancelBtnModal:hover {
	background: #797878;
}

.backBtnModal{
  background: red;
}

.backBtnModal:hover{
  background: darkred;
}

h2 {
  text-align: center;
  padding-bottom: 25px;
}

.error {
  color: red;
}
