.container {
  display: flex;
  flex-direction: column;
  /* position: fixed; */
  /* bottom: 0;
  width: 100%; */
  align-items: center;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  width: 90%;
  min-height: 100px;
}

.license {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 90%;
  padding: 0 5vw;
  background-color: #f2f2f2;
}

.copyright {
  font-size: 0.7rem;
  font-style: italic;
  color: black;
}

.itemContainer{
  display: flex;
}

@media screen and (min-width: 750px) {
  .socialIcon {
    margin-left: 15px;
  }
}
