.positionsForm {
  display: flex;
  flex-direction: column;
}

.positionsForm label {
  font-weight: bold;
  margin-bottom: 5px;
}
.positionsForm input {
  margin-bottom: 10px;
  padding: 7px 10px 7px 3px;
}

.positionsForm button{
  margin-top: 20px;
}